[defaults]
host_key_checking: False

[inventory]
# enable inventory plugins, default: 'host_list', 'script', 'auto', 'yaml', 'ini', 'toml'
enable_plugins = host_list, script, auto, yaml, ini, toml, aws_ec2
